fastapi
langchain
langchain-google-genai
langchain_core
langchain_community
uvicorn[standard]
python-dotenv
PyPDF2 
python-dotenv 
psutil

google-cloud-secret-manager
google-cloud-logging
google-auth
google-cloud-storage
firebase-admin